#carousel99 {
    .carousel_img1 {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        .carousel_text {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);

            .carousel_logo {
                text-align: center;

                h1 {
                    font-family: anton;
                    color: white;
                    letter-spacing: 5px;
                    margin: 0;

                    @media screen and (min-width: $xl) {
                        font-size: 80px;
                    }


                }

                span {
                    font-style: italic;
                    color: white;

                    @media screen and (min-width: $xl) {
                        font-size: 30px;
                        letter-spacing: 8px;
                    }

                }
            }

            .carousel_text_item {
                margin-top: $mg35;
                padding-right: $pd30 !important;

                li {
                    font-family: oswald;
                    font-size: $fs20;
                    color: white;
                }
            }
        }
    }

    .carousel_img2 {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        .carousel_text {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);

            .carousel_logo {
                text-align: center;

                h1 {
                    font-family: anton;
                    font-size: $fs50 + 50;
                    color: rgb(113, 136, 243);
                    letter-spacing: 5px;
                    margin: 0;
                }

                span {
                    font-size: $fs30;
                    font-style: italic;
                    color: rgb(31, 29, 29);
                    letter-spacing: 15px;
                }
            }

            .carousel_text_item {
                margin-top: $mg35;
                padding-right: $pd30 !important;

                li {
                    font-family: oswald;
                    font-size: $fs20;
                    color: rgb(113, 136, 243);
                }
            }

            .carousel_contact {
                .hotline {
                    padding-left: $pd30;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    i {
                        color: $cl_red200;
                        font-size: $fs50;
                        animation: AutoScaleIcon 0.5s infinite;
                    }

                    h1 {
                        margin-left: $mg30;
                        font-family: oswald;
                        color: $cl_red100;
                    }
                }

            }
        }

        .adress {
            position: absolute;
            bottom: 10px;
            right: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            i {
                color: $cl_red200;
                margin-right: $mg10;
            }

            h2 {
                font-size: $fs16;
                margin-left: $mg30;
                margin: 0;
            }
        }
    }

}