#footer {

    #footer_main {
        padding: $pd50 0 $pd25 0;

        .footer_item {
            a {
                transition: 0.5s;
            }

            .footer_intro {
                p {
                    font-style: italic;
                    font-size: $fs16 - 2;
                }
            }

            .item {
                ul {
                    padding: 0;

                    li {
                        list-style: none;

                        .icon {
                            i {
                                font-size: $fs20 + 5;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: white;

                            i {
                                margin-right: $mg20;
                            }
                        }
                    }
                }
            }

            .quick_link {
                ul {
                    li {
                        &:hover {
                            a {
                                color: $cl_green !important;

                                i {
                                    animation-name: AutoLeftToRight;
                                    animation-duration: 0.5s;
                                    animation-iteration-count: infinite;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #footer_bottom {
        padding: $pd10 0;
        p{
            font-size: $fs16 - 3;
            font-style: italic;
        }
    }


}